<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/aeroscenery-afs_addons/assets/css/style.css">
</head>

<body>

<header class="site-header">

  <img src="{{ '/assets/images/header.jpg' | relative_url }}"
       class="header-image">

  <div class="header-overlay">

    <a href="{{ '/' | relative_url }}" class="site-title">
      AeroScenery AFS Addons
    </a>

    <p>
      Photo Sceneries for Aerofly FS4 & Aerofly Global
    </p>

    <nav class="top-nav">

      <a href="{{ '/' | relative_url }}">
        Home
      </a>

      <a href="{{ '/install/fs4.html' | relative_url }}">
        Installation
      </a>

      <a href="{{ '/license/index.html' | relative_url }}">
        License
      </a>

    </nav>

  </div>

</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
  <p>
    Freeware addons for Aerofly FS4 and FS Global (Android only) created by @chrispriv ©
  </p>
</footer>

</body>
</html>