<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/aeroscenery-afs_addons/assets/css/style.css">
</head>

<body>

<header class="site-header">

  <img src="{{ '/assets/images/header.jpg' | relative_url }}"
       class="header-image">

  <div class="header-overlay">
    <h1>AeroFly FS Scenery Addons</h1>

    <p>
      Photo Sceneries for Aerofly FS4 & Aerofly Global
    </p>
  </div>

</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
  <p>
    Freeware addons for Aerofly FS4 and FS Global (Android only) created by @chrispriv
  </p>
</footer>

</body>
</html>