<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/aeroscenery-afs_addons/assets/css/style.css">
</head>

<body>

<header class="site-header">
  <h1>
    <a href="/aeroscenery-afs_addons/">
      AeroScenery AFS Addons
    </a>
  </h1>
</header>

<main class="content">
  {{ content }}
</main>

<footer class="site-footer">
  <p>
    Addons for Aerofly FS4 and Aerofly Global
  </p>
</footer>

</body>
</html>